<template>
  <div id="app">
    <h1> {{ title }} </h1>
    <h3>New Book</h3>
    <!-- For markup truncated -->
    <h3>All Books</h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Author</th>
        <th>Read</th>
        <td>Update</td>
        <td>Delete</td>
      </tr>
      <tr v-for="(b, index) in books">
        <td>{{ b.title }}</td>
        <td>{{ b.year }}</td>
        <td>{{ b.author }}</td>
        <td v-if="b.read">✓</td>
        <td v-else> </td>
        <td v-on:click.prevent="onEdit(index)"><a>✎</a></td>
        <td v-on:click.prevent="onDelete(index)"><a>✗</a></td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      // . . .
      updateIndex: 0,
      updating: false,
      books: [],
      book: {
        title: '',
        year: '',
        author: '',
        read: false
      }
    }
  },
  methods: {
    onSubmit() {
      if(this.updating) {
        this.onUpdate();
        return;
      }
      this.books.push(this.book);
      this.book = {
        title: '',
        year: '',
        author: '',
        read: false
      }
    },
    onEdit(index) {
       this.updating = true;
       this.updateIndex = index;
       this.book = this.books[index];
    },
    onUpdate() {
         this.updating = false;
         this.books[this.updateIndex] = this.book;
         this.book = {
           title: '',
           year: '',
           author: '',
           read: false
       }
    },
    onDelete(index) {
      this.books.splice(index, 1)
    }
  }
} 
</script>